<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Catalog Links
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <%= link_to 'Catalog', store_index_path(spa: false), class: "dropdown-item"  %>
        <%= link_to "Catlog(SPA)", store_index_path(spa: true), class: "dropdown-item" %>
    </div>
</li>

<% if account_signed_in? %>
    <li class="nav-item">
        <%= link_to 'Edit account', edit_account_registration_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
        <%= link_to 'Sign out', destroy_account_session_path, :method=>'delete', class:"nav-link" %>
    </li>
<% else %>
    <li class="nav-item">
        <%= link_to 'Sign in', new_account_session_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
        <%= link_to 'Sign up', new_account_registration_path,  class:"nav-link" %>
    </li>
<% end %>